@charset "UTF-8";
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v20/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*=================중단점=================*/
/*=================중단점=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no {
  display: none;
}

.on {
  display: inline;
}

.bighead {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.bighead::before {
  content: "";
  background: url(../img/back/background.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.bighead .nyan_zone {
  margin: 0 auto;
  position: relative;
  width: 95%;
  background-color: tan;
}

@media screen and (min-width: 768px) {
  .bighead .nyan_zone {
    width: 96.35416666666667%;
    background-color: lavender;
  }
}

html, body {
  color: #333333;
  font-family: 'Josefin Slab';
}

table, th, tr, td {
  border: none;
  border-collapse: collapse;
}

ul, ol, li {
  list-style: none;
}

input, button {
  outline: none;
}
